.toolBar {
    font-family: 'Roboto', sans-serif;
    font-size: 0.92rem;
    background: linear-gradient(rgba(30, 30, 30, 0.8) 0%, rgba(30, 30, 30, 0.9) 100%);
    border: 1px solid #090A0A;
    border-radius: 5px;
    margin-top: 11px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    height: 38px;
    overflow: hidden;
}

@media (max-width: 992px) {
    .toolBar {
        display: none;
    }
}

.login_buttons {
    display: block;
    height: 100%;
}

.login_link {
    display: block;
    width: 250px;
    height: 100%;
    text-decoration: none;
    float: left;
    text-align: center;
    border-right: 1px solid #484B4C;
}

.login_link:hover, .register_link:hover {
    background: linear-gradient(#1b1b1b, #292929, #1b1b1b);
}

.register_link {
    display: block;
    width: 120px;
    height: 100%;
    text-decoration: none;
    float: left;
    text-align: center;
    border-right: 1px solid #484B4C;
}

.login_link_text {
    display: block;
    color: #EAEAEA;
    margin-top: 12px;
}