@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: url('../assets/background5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}