@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: url('../assets/background5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.form-label {
  margin-bottom: 7px;
  font-size: 1.05rem;
}

a, a:focus, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}